<div class="container">
  <br>
  <h1 class="h1-responsive font-weight-bold text-center my-4">Contact us</h1>
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact
    us directly. Our team will come back to you within
    a matter of hours to help you.</p>

  <div class="row align-items-center justify-content-center">
    <div class="col-sm-3 text-center">
      <i class="fa fa-location-arrow" style="font-size:32px;"></i>
      <h3>Almaty, Manasa 34, KZ</h3>
    </div>

    <div class="col-sm-3 text-center">
      <i class="fa fa-envelope-open" style="font-size:32px; margin: auto"></i>
      <h3>iitu@iitu.edu.kz</h3>
    </div>

    <div class="col-sm-3 text-center">
      <i class="fa fa-phone" style="font-size:32px;"></i>
      <h3>+ 227 567 89</h3>
    </div>
  </div>
</div>
