<div class="container" style="padding-bottom: 100px">
  <br>
  <h1>
    <mark>Internship diary app</mark>
  </h1>

  <app-work-description [internshipDescription]="internshipDescription"></app-work-description>

  <button class="btn btn-danger" (click)="showEdit()">Edit description</button>
  <div><br></div>
  <form *ngIf="isEditDescription">
    <div class="form-group">
      <input type="text" placeholder="Company name"
             class="form-control" [(ngModel)]="internshipDescription.companyName" name="name"><br>
      <input type="text" placeholder="Short info"
             class="form-control" [(ngModel)]="internshipDescription.shortInfo" name="shortInfo"><br>
      <input type="text" placeholder="Type of work"
             class="form-control" [(ngModel)]="internshipDescription.typeOfWork" name="typeOfWork"><br>
      <input type="text" placeholder="Period"
             class="form-control" [(ngModel)]="internshipDescription.periodInDays" name="periodInDays">
    </div>
  </form>

  <app-type-of-work (typeOfWorkEmitter)="selectTypeOfWork($event)"></app-type-of-work>

  <form (submit)="addOption(option.value)">
    <div class="form-group">
      <label for="option"></label>
      <input type="text" id="option" placeholder="Type something" class="form-control" #option>
      <br>
      <button type="submit" class="btn btn-outline-success">Add</button>
    </div>
  </form>

  <h2>Main perspectives</h2>
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options">{{opt}}
        <button class="btn btn-warning btn-sm" (click)="deleteOption(opt)">x</button>
      </li>
    </ul>
  </div>
</div>


